{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, т.к. запросили функцию восстановления пароля на {{ site_name }}.{% endblocktranslate %}


{% translate "Ссылка на восстановления пароля:" %}
{{ protocol }}://localhost:8000{% url 'users:password_reset_confirm' uidb64=uid token=token %}


{% translate 'Ваш логин:' %} {{ user.get_username }}


{% translate "Спасибо, что используете наш сайт!" %}

{% translate "Если Вы не запрашивали восстановление пароля, то проигнорируйте это письмо." %}

{% blocktranslate %}Дилер FramePit{% endblocktranslate %}
{% endautoescape %}
