{% extends "base.html" %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block content %}
  {% if validlink %}
    Придумайте новый пароль
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">
        Сохранить новый пароль
      </button>
    </form>
  {% else %}
    <h2>Ссылка недействительна</h2>
    <p>Ссылка для сброса пароля устарела или уже была использована.</p>
    <p><a href="{% url 'users:password_reset' %}">Запросить новую ссылку</a></p>
  {% endif %}
{% endblock %}
