{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'default/dealer.png' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'main:home' %}">Frame Pit</a>
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile_detail' user.id %}">Профиль</a>
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        Выйти
                    </button>
                </form>
            {% else %}
                <a href="{% url 'users:login' %}">Вход</a>
                <a href="{% url 'users:register' %}">Регистрация</a>
            {% endif %}
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>