{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'default/dealer.png' %}">
</head>
<body>

    <header class="site-header">
        <div class="header-container">
            <a href="{% url 'main:home' %}" class="brand">FRAME PIT</a>
            <div class="nav-buttons">
                {% if user.is_authenticated %}
                    <a href="{% url 'users:profile_detail' user.id %}" class="btn-outline-roulette">ПРОФИЛЬ</a>
                    <form action="{% url 'users:logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn-outline-roulette" style="border-color: #7a4530;">ВЫЙТИ</button>
                    </form>
                {% else %}
                    <a href="{% url 'users:login' %}" class="btn-outline-roulette">ВХОД</a>
                    <a href="{% url 'users:register' %}" class="btn-solid-roulette">РЕГИСТРАЦИЯ</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main class="main-container">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>
</html>